# TF-IDF & Word Embedding

### TF-IDF

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.12/site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
import pandas as pd
import ast
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df = pd.read_csv("preprocessing_berita.csv")
df.head()

,id_berita,judul_berita,isi_berita,kategori_berita,judul_clean,isi_clean
0,2070813,RUU Perampasan Aset Diupayakan Tak Cuma Akomod...,KETUA Badan Legislasi DPR Bob Hasan mengatakan...,politik,"['ruu', 'ampas', 'aset', 'upaya', 'akomodasi',...","['ketua', 'badan', 'legislasi', 'dpr', 'bob', ..."
1,2070810,Debat Sengit Komisi II DPR dan Baleg Berebut B...,SUASANA rapat koordinasi antara pimpinan komis...,politik,"['debat', 'sengit', 'komisi', 'ii', 'dpr', 'ba...","['suasana', 'rapat', 'koordinasi', 'pimpin', '..."
2,2070792,Sengketa Pilkada Ulang Barito Utara dan Papua ...,MAHKAMAH Konstitusi (MK) menyelesaikan Permoho...,politik,"['sengketa', 'pilkada', 'ulang', 'barito', 'ut...","['mahkamah', 'konstitusi', 'mk', 'selesai', 'm..."
3,2070783,Respons Pemerintah dan Tentara soal MK Tolak G...,WAKIL Menteri Hukum Eddy Hiariej menghormati p...,politik,"['respons', 'perintah', 'tentara', 'mk', 'tola...","['wakil', 'menteri', 'hukum', 'eddy', 'hiariej..."
4,2070782,"Rangkap Jabatan Menpora dan Ketum PSSI, Erick ...",MENTERI Pemuda dan Olahraga Erick Thohir belum...,politik,"['rangkap', 'jabat', 'menpora', 'tum', 'pssi',...","['menteri', 'pemuda', 'olahraga', 'erick', 'th..."

In [4]:
df["isi_clean_joined"] = df["isi_clean"].apply(
    lambda x: " ".join(ast.literal_eval(x)) if isinstance(x, str) else ""
)


df[["isi_clean", "isi_clean_joined"]].head()

,isi_clean,isi_clean_joined
0,"['ketua', 'badan', 'legislasi', 'dpr', 'bob', ...",ketua badan legislasi dpr bob hasan draf naska...
1,"['suasana', 'rapat', 'koordinasi', 'pimpin', '...",suasana rapat koordinasi pimpin komisi komisi ...
2,"['mahkamah', 'konstitusi', 'mk', 'selesai', 'm...",mahkamah konstitusi mk selesai mohon selisih h...
3,"['wakil', 'menteri', 'hukum', 'eddy', 'hiariej...",wakil menteri hukum eddy hiariej hormat putus ...
4,"['menteri', 'pemuda', 'olahraga', 'erick', 'th...",menteri pemuda olahraga erick thohir nasib ket...

In [5]:
# load CSV
df = pd.read_csv("preprocessing_berita.csv")

# pakai kolom isi_clean yang ada
df["isi_clean"] = df["isi_clean"].fillna("")

# Inisialisasi TF-IDF Vectorizer
vectorizer = TfidfVectorizer(max_features=1000)  # ambil 1000 fitur teratas

# Fit dan transform
X_tfidf = vectorizer.fit_transform(df["isi_clean"])

# Buat DataFrame TF-IDF
tfidf_df = pd.DataFrame(
    X_tfidf.toarray(),
    columns=vectorizer.get_feature_names_out()
)

# Tambahkan kolom id_berita di depan
tfidf_df.insert(0, "id_berita", df["id_berita"].values)

# Lihat hasilnya
display(tfidf_df.head(10))

# Kalau mau simpan ke file CSV
tfidf_df.to_csv("TFIDF_Berita.csv", index=False, encoding="utf-8-sig")

,id_berita,abdul,acara,acosta,ad,ada,adik,adil,adnan,adu,...,wira,wisata,wisatawan,wta,yamaha,yogyakarta,york,yu,zetro,zona
0,2070813,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2070810,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2070792,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2070783,0.0,0.0,0.0,0.0,0.0,0.0,0.042812,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2070782,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2070778,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2070771,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2070768,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2070766,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2070760,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Word Embedding

In [6]:
!pip install gensim

Requirement already satisfied: gensim in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.3.3)
Requirement already satisfied: numpy<2.0,>=1.18.5 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from gensim) (1.26.4)
Requirement already satisfied: scipy<1.14.0,>=1.7.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from gensim) (1.13.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from gensim) (7.3.1)
Requirement already satisfied: wrapt in /usr/local/python/3.12.1/lib/python3.12/site-packages (from smart-open>=1.8.1->gensim) (1.17.3)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [7]:
import pandas as pd
import ast
from gensim.models import Word2Vec

In [8]:
df = pd.read_csv("preprocessing_berita.csv")
df.head()

,id_berita,judul_berita,isi_berita,kategori_berita,judul_clean,isi_clean
0,2070813,RUU Perampasan Aset Diupayakan Tak Cuma Akomod...,KETUA Badan Legislasi DPR Bob Hasan mengatakan...,politik,"['ruu', 'ampas', 'aset', 'upaya', 'akomodasi',...","['ketua', 'badan', 'legislasi', 'dpr', 'bob', ..."
1,2070810,Debat Sengit Komisi II DPR dan Baleg Berebut B...,SUASANA rapat koordinasi antara pimpinan komis...,politik,"['debat', 'sengit', 'komisi', 'ii', 'dpr', 'ba...","['suasana', 'rapat', 'koordinasi', 'pimpin', '..."
2,2070792,Sengketa Pilkada Ulang Barito Utara dan Papua ...,MAHKAMAH Konstitusi (MK) menyelesaikan Permoho...,politik,"['sengketa', 'pilkada', 'ulang', 'barito', 'ut...","['mahkamah', 'konstitusi', 'mk', 'selesai', 'm..."
3,2070783,Respons Pemerintah dan Tentara soal MK Tolak G...,WAKIL Menteri Hukum Eddy Hiariej menghormati p...,politik,"['respons', 'perintah', 'tentara', 'mk', 'tola...","['wakil', 'menteri', 'hukum', 'eddy', 'hiariej..."
4,2070782,"Rangkap Jabatan Menpora dan Ketum PSSI, Erick ...",MENTERI Pemuda dan Olahraga Erick Thohir belum...,politik,"['rangkap', 'jabat', 'menpora', 'tum', 'pssi',...","['menteri', 'pemuda', 'olahraga', 'erick', 'th..."

In [9]:
# ===============================
# 1. Membuat korpus (list of lists kata)
# ===============================
corpus = df["isi_clean"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []  # Ubah string list menjadi list Python, atau [] jika kosong
).tolist()  # Hasil akhir: list of lists (setiap berita menjadi satu list kata)

# ===============================
# 2. Membuat dan melatih Word2Vec (semua kata)
# ===============================
model = Word2Vec(
    sentences=corpus,   # Input list of lists kata
    vector_size=100,    # Dimensi vektor untuk tiap kata
    window=5,           # Ukuran konteks: seberapa jauh kata tetangga diperhitungkan
    min_count=1,        # Ambil semua kata, termasuk yang muncul sekali
    sg=1,               # 1 = skip-gram, 0 = CBOW
    workers=4           # Jumlah core CPU untuk paralelisasi
)

# ===============================
# 3. Simpan model
# ===============================
model.save("word2vec_berita.model")  # Simpan model ke file .model agar bisa dipakai lagi nanti

# ===============================
# 4. Cek hasil Word Embedding
# ===============================
print("\nVektor untuk kata 'indonesia':")
print(model.wv['indonesia'][:10])  # Menampilkan 10 elemen pertama dari vektor kata

print("\nKata yang mirip dengan 'indonesia':")
print(model.wv.most_similar("indonesia", topn=5))  # Menampilkan 5 kata paling mirip

Vektor untuk kata 'indonesia':
[-0.02884256  0.32666102 -0.2997007  -0.30499357  0.4139644  -0.07996126
  0.034549   -0.24059972 -0.36235732 -0.17398427]

Kata yang mirip dengan 'indonesia':
[('garuda', 0.7596750259399414), ('bola', 0.7428099513053894), ('sepak', 0.7375729084014893), ('bulu', 0.7346426248550415), ('rakyat', 0.7300464510917664)]

### Klasifikasi TF-IDF & Word Embedding

#### Library

In [10]:
import pandas as pd
import ast
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [11]:
from gensim.models import Word2Vec
import numpy as np

In [12]:
# Gabungkan token untuk TF-IDF
df["isi_clean_joined"] = df["isi_clean"].apply(
    lambda x: " ".join(ast.literal_eval(x)) if isinstance(x, str) else ""
)

# Buat list of tokens untuk Word2Vec
corpus = df["isi_clean"].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
).tolist()

In [13]:
X_text = df["isi_clean_joined"]
y = df["kategori_berita"]

# === Split data (train/test) ===
X_train, X_test, y_train, y_test, corpus_train, corpus_test = train_test_split(
    X_text, y, corpus, test_size=0.2, random_state=42
)

In [14]:
# TF-IDF Vectorization
vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

# Naive Bayes (cocok untuk teks)
model_tfidf = MultinomialNB()
model_tfidf.fit(X_train_tfidf, y_train)

# Prediksi
y_pred_tfidf = model_tfidf.predict(X_test_tfidf)

print("=== Hasil TF-IDF + Naive Bayes ===")
print("Akurasi:", accuracy_score(y_test, y_pred_tfidf))
print(classification_report(y_test, y_pred_tfidf))

=== Hasil TF-IDF + Naive Bayes ===
Akurasi: 0.8785714285714286
               precision    recall  f1-score   support

      ekonomi       0.83      0.90      0.86        21
      hiburan       1.00      0.80      0.89        20
        hukum       0.90      0.82      0.86        22
internasional       0.88      1.00      0.93        14
     olahraga       1.00      0.85      0.92        20
     otomotif       0.86      1.00      0.92        18
      politik       0.78      0.84      0.81        25

     accuracy                           0.88       140
    macro avg       0.89      0.89      0.88       140
 weighted avg       0.89      0.88      0.88       140

In [15]:
# Train Word2Vec dari corpus train
w2v_model = Word2Vec(sentences=corpus_train, vector_size=100, window=5, min_count=2, sg=1)

# Fungsi untuk ubah dokumen jadi rata-rata embedding
def document_vector(doc):
    doc = [word for word in doc if word in w2v_model.wv]
    if len(doc) == 0:
        return np.zeros(w2v_model.vector_size)
    return np.mean(w2v_model.wv[doc], axis=0)

# Transform ke vektor
X_train_w2v = np.array([document_vector(doc) for doc in corpus_train])
X_test_w2v = np.array([document_vector(doc) for doc in corpus_test])

# Logistic Regression (cocok untuk dense vector)
model_w2v = LogisticRegression(max_iter=1000)
model_w2v.fit(X_train_w2v, y_train)

# Prediksi
y_pred_w2v = model_w2v.predict(X_test_w2v)

print("=== Hasil Word2Vec + Logistic Regression ===")
print("Akurasi:", accuracy_score(y_test, y_pred_w2v))
print(classification_report(y_test, y_pred_w2v))

=== Hasil Word2Vec + Logistic Regression ===
Akurasi: 0.8357142857142857
               precision    recall  f1-score   support

      ekonomi       0.86      0.90      0.88        21
      hiburan       0.89      0.85      0.87        20
        hukum       0.80      0.73      0.76        22
internasional       0.74      1.00      0.85        14
     olahraga       1.00      0.85      0.92        20
     otomotif       0.85      0.94      0.89        18
      politik       0.74      0.68      0.71        25

     accuracy                           0.84       140
    macro avg       0.84      0.85      0.84       140
 weighted avg       0.84      0.84      0.83       140

In [16]:
acc_tfidf = accuracy_score(y_test, y_pred_tfidf)
acc_w2v = accuracy_score(y_test, y_pred_w2v)

print("\n=== Perbandingan Akurasi ===")
print(f"TF-IDF + Naive Bayes        : {acc_tfidf:.4f}")
print(f"Word2Vec + LogisticReg      : {acc_w2v:.4f}")

=== Perbandingan Akurasi ===
TF-IDF + Naive Bayes        : 0.8786
Word2Vec + LogisticReg      : 0.8357